/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Mar-2017, 10:05:07
    Author     : cerveza
*/

.floor-img {
    max-width: 100%;
    min-width: 100%;
}

.floor-img-layer {
    z-index: 0;
    display: none;
}

.floor-markers-layer{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.slider-floor-layer{
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: 20px;
}

.map-marker{
    width: 30px;
    position: absolute;
}


.slider-floor{
    -webkit-appearance: slider-vertical;
}



